/.vs
/Temp
/Library
/*.sln
/*.csproj
/~*
/Export
/Assets/Test
/Assets/Test.meta
/Assets/StreamingAssets/Windows
/Assets/StreamingAssets/Android.meta
/Assets/StreamingAssets/Windows.meta
/Assets/StreamingAssets/Android
/Assets/StreamingAssets/iOS.meta
/Assets/StreamingAssets/iOS
